body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width:80% ;
}
a{
   text-decoration: none;
   padding: 10px 40px;
   background-image: linear-gradient(orange,tomato);
   border-radius: 10px;
   color: white;
   font-weight: 700px;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;

}
.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.orange-color{
    color: orange;
}
.most-item{
    width: 40%;
    box-shadow: 10px 10px 40px orchid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat ;
    background-position: left;
}
#web-developer{
    border-left: 10px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
   

}
#website{
    border-left: 10px solid ;
    border-image: linear-gradient(lightcoral,blue);
    border-image-slice: 1;
   
}
footer p {
    text-align: center;
}